name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  clippy:
    name: cargo clippy
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: cargo clippy
      run: cargo clippy
      
  fmt:
    name: cargo fmt
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: cargo fmt
      run: cargo fmt --check
      
  build:
    name: cargo build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: cargo build
      run: cargo build

  test:
    name: cargo test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: cargo test
      run: cargo test --all
